# Server Configuration
SERVER_PORT=3000
FRONTEND_URL=http://localhost:3000

# Database Configuration
DATABASE_URL=postgres://username:password@localhost:5432/mosaic?sslmode=disable

# Redis Configuration
REDIS_URL=redis://localhost:6379

# Authentication Configuration
ACCESS_TOKEN_SECRET=your_access_token_secret_key_here
REFRESH_TOKEN_SECRET=your_refresh_token_secret_key_here

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_FROM=your_email@gmail.com
SMTP_SSL=true

# Recaptcha Configuration
RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key
RECAPTCHA_SITE_KEY=your_recaptcha_site_key

# AlphaBank API Configuration
# URL для тестовой среды
ALFA_BANK_TEST_URL=https://alfa.rbsuat.com
# URL для продакшн среды
ALFA_BANK_PROD_URL=https://payment.alfabank.ru

# Данные доступа к Альфа-Банк 
ALFA_BANK_USERNAME=your_username_here
ALFA_BANK_PASSWORD=your_password_here

# Webhook URL для Альфа-Банка 
ALFA_BANK_WEBHOOK_URL=your_webhook_url_here
# Секретный ключ для валидации webhook уведомлений (получите у Альфа-Банка)
ALFA_BANK_WEBHOOK_SECRET=your_webhook_secret_key

# Environment Configuration
ENVIRONMENT=development
APP_MODE=development
